.isi-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.box1,.box2,.box3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1,.box2,.box3{
    background-color: #E1D4C9;
    margin-bottom: 50px;
    width: 1300px;
    height: 500px;
    border-radius: 20px;
    padding: 20px;
    
} 
.box1 img, .box3 img {
    width: 500px;
    height: 500px;
    margin-right: 100px;
}

.box2 img{
    width: 500px;
    height: 500px;
    margin-left: 100px;
}

.teks-menu{
    text-align: center;
    margin: 50px 0;
}
.teks-menu p{
    padding: 5px;
    font-family: sans-serif;
    font-size: 14pt;
}

.konten{
    text-align: center;
    /* background-color: red; */
    margin-top: 350px;
    width: 500px;
    height: 500px;
}
.konten p{
    padding: 10px;
    font-size: 16pt;
}

@media screen and (max-width:576px) {
    .box1,.box2,.box3{
        width: 300px;
    } 
    .box1,.box2,.box3{
        flex-direction: column ;
        text-align: center;
        align-items: center;
    }

    .box1 img, .box3 img , .box2 img{
        width: 200px;
        height: 200px;
        margin: 20px 0;
        
    }

    .konten{
        width: 300px;
        margin-top: 20px;
        font-size: 12pt;
    }
}